.git
.gitignore
node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/private/*
/storage/app/public/*
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
.env
.env.backup
.env.production
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.fleet
/.idea
/.vscode
coverage
